@media all and (max-width: 1023px) {
	.first_block__r-side img {
		left: 50%;
		right: unset;
		margin-left: -205px;
	}
	.header__logo {
		max-width: 100px;
	}
}
@media all and (max-width: 400px) {
	.first_block__r-side img {
		right: -100px;
		left: unset;
		margin-left: unset;
	}
}