.first_block {
    padding-bottom: vw(45);
    @media all and (max-width: 1023px) {
        padding-bottom: 12px;
    }
    &__blocks {
        border-radius: 40px;
        background: #F7F9FA;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: vw(120);
        @media all and (max-width: 1023px) {
            flex-direction: column;
            padding: 39px 10px 20px 10px;
            border-radius: 20px;
        }
    }
    &__l-side {
        width: 50%;
        @media all and (max-width: 1023px) {
            width: 100%;
            margin-bottom: 15px;
        }
    }
    &__title {
        color: #303633;
        font-size: vw(64);
        font-weight: 500;
        margin-bottom: vw(24);
        @media all and (max-width: 1023px) {
            margin-bottom: 4px;
            font-size: 33px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    &__text {
        color: #303633;
        font-size: vw(18);
        margin-bottom: vw(54);
        @media all and (max-width: 1023px) {
            margin-bottom: 0;
            font-size: 12px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    &__form {
        @media all and (max-width: 1023px) {
            display: none;
        }
        &.mob {
            display: none;
            @media all and (max-width: 1023px) {
                display: block;
                padding-top: 315px;
            }
        }
    }
    &__r-side {
        width: 50%;
        font-size: 0;
        position: relative;
        @media all and (max-width: 1023px) {
            width: 100%;
            img {
                position: absolute;
                right: -100px;
                top: 0;
                min-width: 410px;
                max-width: 410px;
            }
        }
    }
}