$primary-color: #4EC275;
$secondary-color: #303633;
$primary_white-color: #E9E9E9;
$secondary_white-color: #F7F9FA;

body {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: inherit;
    outline: none;
    font-family: 'Golos Text', sans-serif;
    scroll-behavior: smooth;
}
html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
    height: 100%;
}

.ovh {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: inherit;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.center_block {
    max-width: vw(1620);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: vw(10);
    padding-right: vw(10);
    @media all and (max-width: 1023px) {
        max-width: 1620px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

// scrollbar
/* width */
*::-webkit-scrollbar {
    width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: $secondary-color;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #4EC275;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #4EC275;
}

// scrollbar end
.section_h1 {
    margin: 0;
    color: #303633;
    font-size: vw(36);
    font-weight: 500;
    line-height: vw(61);
    @media all and (max-width: 1023px) {
        font-size: 24px;
        line-height: 130%;
    }
}














body {
    .block_calc {
        padding-top: vw(58);
        padding-bottom: vw(50);
        @media all and (max-width: 1023px) {
            padding-top: 35px;
            padding-bottom: 42px;
        }
    }
    .calc__wrap {
        display: flex;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            flex-direction: column;
        }
    }
    .calc_borrow_step_1 {
        width: calc(50% - 9px);
        border-radius: vw(40);
        background: #303633;
        padding: vw(48);
        @media all and (max-width: 1023px) {
            padding: 25px 10px;
            border-radius: 20px;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .header__logo svg {
        width: 100%;
    }
    .title_calc {
        color: #FFF;
        font-size: vw(36);
        font-style: normal;
        font-weight: 500;
        margin-bottom: vw(42);
        @media all and (max-width: 1023px) {
            font-size: 24px;    
            margin-bottom: 37px;
        }
    }
    .calc_item {
        margin-bottom: vw(33);
        @media all and (max-width: 1023px) {
            margin-bottom: 41px;
        }
    }
    .calc_item_wrap {
        display: flex;
        align-items: center;
        margin-bottom: vw(41);
        @media all and (max-width: 1023px) {
            margin-bottom: 36px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .calc_left {
        margin-right: vw(28);
        color: #FFF;
        font-size: vw(14);
        font-style: normal;
        font-weight: 400;
        @media all and (max-width: 1023px) {
            font-size: 12px;
            margin-right: 14px;
        }
    }
    .calc_right {
        display: flex;
        align-items: center;
    }
    .calc_right_absolute {
        color: #FFF;
        font-size: vw(14);
        font-style: normal;
        font-weight: 400;
        margin-left: vw(24);
        @media all and (max-width: 1023px) {
            font-size: 12px;
            margin-left: 14px;
        }
    }
    .calc_right input[type="text"] {
        width: vw(166);
        height: vw(49);
        border-radius: 9px;
        border: 1px solid #D7D7D7;
        background: #FFF;
        text-align: center;
        color: #303633;
        font-size: vw(18);
        font-style: normal;
        font-weight: 400;
        @media all and (max-width: 1023px) {
            width: 123px;
            height: 43px;
            font-size: 14px;
        }
    }
    .calc_range {
        margin-bottom: vw(27);
        height: 2px;
        border: 0 !important;
        background: rgba(226, 227, 227, 0.30);
        @media all and (max-width: 1023px) {
            margin-bottom: 24px;
        }
    }
    .block_calc .ui-slider-horizontal .ui-slider-range-min {
        background: #4EC275;
        height: 2px;
    }
    .block_calc .ui-slider-horizontal .ui-slider-handle {
        width: vw(41);
        height: vw(41);
        cursor: pointer;
        border: 0;
        border-radius: 40.945px;
        background: rgba(78, 194, 117, 0.19) url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.76449' cy='10.0609' r='9.34615' fill='%234EC275'/%3E%3C/svg%3E%0A") 50% no-repeat;
        top: 0;
        margin-left: vw(-20.5);
        margin-top: vw(-20.5);
        @media all and (max-width: 1023px) {
            width: 24px;
            height: 24px;
            margin-left: -12px;
            margin-top: -12px;
            background-size: 12px;
        }
    }
    .calc_values {
        display: flex;
        justify-content: space-between;
    }
    .calc_value {
        color: rgba(255, 255, 255, 0.40);
        font-size: vw(14);
        font-style: normal;
        font-weight: 400;
        @media all and (max-width: 1023px) {
            font-size: 10px;
        }
    }
    .block_calc__txt {
        margin-top: 20px;
        color: #303633;
        font-size: vw(14);
        font-style: normal;
        font-weight: 400;
        @media all and (max-width: 1023px) {
            margin-top: 20px;
            font-size: 10px;
        }   
    }
    .calc_bottom {
        border-radius: vw(40);
        background: var(--credeo, linear-gradient(90deg, #2EC54C 0%, #9AD135 100%));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px 10px 10px 10px;
        width: calc(50% - 9px);
        @media all and (max-width: 1023px) {
            border-radius: 20px;
            width: 100%;
        }
    }
    .calc_total_title {
        color: #FFF;
        font-size: vw(36);
        font-style: normal;
        font-weight: 400;
        text-align: center;
        margin-bottom: vw(18);
        @media all and (max-width: 1023px) {
            margin-bottom: 12px;
            font-size: 24px;
        }
    }
    .calc_total_text {
        text-align: center;
        color: #FFF;
        font-size: vw(48);
        font-style: normal;
        font-weight: 400;
        text-align: center;
        margin-bottom: vw(18);
        @media all and (max-width: 1023px) {
            margin-bottom: 24px;
            font-size: 33px;
        }
    }
    #month-pts {
        font-size: 0;
    }
    .calc_total_cols {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .calc_total_cet {
        color: #FFF;
        font-size: vw(14);
        font-style: normal;
        font-weight: 400;
        margin-right: vw(20);
        @media all and (max-width: 1023px) {
            margin-right: 10px;
            font-size: 12px;
        }
    }
    .calc_total_txt {
        border-radius: 9px;
        border: 1px solid #D7D7D7;
        background: #FFF;
        width: vw(166);
        height: vw(49);
        justify-content: center;
        display: flex;
        align-items: center;
        color: #303633;
        font-size: vw(18);
        font-style: normal;
        font-weight: 400;
        @media all and (max-width: 1023px) {
            font-size: 14px;
            width: 89px;
            height: 43px;
        }
    }
    .calc_total_proc {
        color: #FFF;
        font-size: vw(14);
        font-style: normal;
        font-weight: 400;
        margin-left: vw(20);
        @media all and (max-width: 1023px) {
            margin-left: 10px;
            font-size: 12px;
        }
    }
    .calc_formss {
        border: 0;
        margin-top: vw(50);
        max-width: 392px;
        width: 100%;
        color: #303633;
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
        padding: vw(23);
        border-radius: 9px;
        background: #FFF;
        text-align: center;
        @media all and (max-width: 1023px) {
            font-size: 12px;
            padding: 17px;
            margin-top: 19px;
        }
    }
    
    
    
    .first_block__form {
        max-width: 440px;
        width: 100%;
        @media all and (max-width: 1023px) {
            max-width: 100%;
        }
    }
    .feedback__input {
        width: 100%;
        border-radius: 9px;
        background: #FFF;
        margin-bottom: 15px;
        padding: 18px;
        border: 0;
        color: #000;
        font-size: vw(16);
        height: vw(66);
        font-style: normal;
        font-weight: 400;
        @media all and (max-width: 1023px) {
            border: 1px solid #ECECEC;
            margin-bottom: 20px;
            height: 55px;
            font-size: 12px;
        }
    }
    .feedback__input::placeholder {
        color: #A5A5A5;
    }
    .feedback__submit {
        border-radius: 9px;
        border: 0;
        background: #4EC275;
        margin-bottom: 15px;
        width: 100%;
        cursor: pointer;
        text-align: center;
        padding: vw(23);
        color: #FFF;
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        @media all and (max-width: 1023px) {
            margin-bottom: 27px;
            padding: 20px;
            font-size: 12px;
        }
    }
    .feedback__submit:hover {
        background: linear-gradient(90deg, #2EC54C 0%, #9AD135 100%);
    }
    .personal_text {
        border-radius: 9px;
        background: #DFDFDF;
        margin-bottom: vw(20);
        color: #303633;
        font-size: vw(12);
        font-family: Golos Text;
        font-style: normal;
        font-weight: 400;
        padding: vw(14) vw(43);
        @media all and (max-width: 1023px) {
            padding: 12px 13px;
            font-size: 10px;
            margin-bottom: 12px;
        }
    }
    .politic_text {
        color: #303633;
        font-size: vw(11);
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.22px;
        @media all and (max-width: 1023px) {
            font-size: 10px;
        }
    }
    .modal__title {
        color: #303633;
        text-align: center;
        font-size: vw(48);
        font-style: normal;
        font-weight: 500;
        margin-bottom: 13px;
        @media all and (max-width: 1023px) {
            font-size: 33px;
            margin-bottom: 21px;
        }
    }
    .modal__text {
        margin-bottom: 33px;
        color: #303633;
        text-align: center;
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        @media all and (max-width: 1023px) {
            font-size: 12px;
            margin-bottom: 44px;
        }
    }
    .block_main__sending {
        text-align: center;
    }
    .block_main__sending--tit {
        margin-bottom: vw(15);
        color: #303633;
        font-size: vw(64);
        font-style: normal;
        font-weight: 400;
        letter-spacing: -3.2px;
        @media all and (max-width: 1023px) {
            font-size: 33px;
            margin-bottom: 0;
        }
    }
    .block_main__sending--txt {
        color: #303633;
        font-size: vw(18);
        font-style: normal;
        font-weight: 400;
        max-width: 246px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @media all and (max-width: 1023px) {
            font-size: 12px;
        }
    }
    .block_main__sending--icon {
        margin-top: vw(33);
        margin-bottom: vw(35);
        @media all and (max-width: 1023px) {
            font-size: 12px;
            margin-top: 22px;
            margin-bottom: 14px;
        }
    }
    .block_main__sending--icon svg {
        margin-left: auto;
        margin-right: auto;
    }
    
    
    
    
    
    .hidden {
      display: none;
    }
    .calc_form__topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: vw(27);
        @media all and (max-width: 1023px) {
            margin-bottom: 20px;
        }
    }
    .calc_form__steps {
        color: #7C7C7C;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }
    .calc_form__mores {
        color: #4EC275;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }
    .calc_form__progs {
        position: relative;
        height: 3px;
        margin-bottom: vw(54);
        background: rgba(191, 191, 191, 0.30);
        @media all and (max-width: 1023px) {
            margin-bottom: 40px;
        }
    }
    .calc_form__prog {
        position: absolute;
        top: 0;
        background: #4EC275;
        left: 0;
        height: 2px;
    }
    .step_text {
        margin-bottom: 14px;
        color: #303633;
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        @media all and (max-width: 1023px) {
            margin-bottom: 18px;
            font-size: 14px;
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        margin-top: vw(13);
        @media all and (max-width: 1023px) {
            margin-top: 3px;
        }
    }
    .button.back-button {
        background: #fff;
        border-radius: 9px;
        margin-right: 10px;
        color: #303633;
        cursor: pointer;
        font-size: vw(16);
        flex: 0 0 vw(137);
        font-style: normal;
        font-weight: 400;
        padding: 17px;
        border: 2px solid #2EC54C;
        @media all and (max-width: 1023px) {
            font-size: 12px;
            margin-right: 9px;
            flex: 0 0 105px;
        }
    }
    .button.back-button:hover {
        color: #fff;
        background: linear-gradient(90deg, #2EC54C 0%, #9AD135 100%);
    }
    .button.next-button {
        border: 0;
        width: 100%;
        cursor: pointer;
        color: #FFF;
        font-size: vw(16);
        font-style: normal;
        font-weight: 400;
        border-radius: 9px;
        background: #4EC275;
        padding: 19px;
        @media all and (max-width: 1023px) {
            font-size: 12px;
        }
    }
    .button.next-button:hover {
        background: linear-gradient(90deg, #2EC54C 0%, #9AD135 100%);
    }
    .calc_form .calc_label {
        color: #303633;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }
    .calc_right2 {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
    }
    .calc_right2 input[type="text"] {
        color: #303633;
        font-size: vw(24);
        font-style: normal;
        font-weight: 400;
        border: 0;
        background: none;
        @media all and (max-width: 1023px) {
            font-size: 18px;
        }
    }
    .calc_form .calc_right_absolute {
        color: #303633;
        font-size: 24px;
        font-style: normal;
        margin-left: 0;
        font-weight: 400;
    }
    .calc_form .calc_value {
        color: #8F9C9E;
        @media all and (max-width: 1023px) {
            font-size: 12px;
        }
    }
    .calc_form .calc_range {
        height: 4px;
        @media all and (max-width: 1023px) {
            margin-bottom: 16px;
        }
    }
    .calc_form .ui-slider-horizontal .ui-slider-range-min {
        background: #4EC275;
    }
    .calc_form .ui-slider-horizontal .ui-slider-handle {
        width: 16px;
        height: 16px;
        background: #303633;
        border: 2px solid #fff;
        cursor: pointer;
        top: -6px;
        margin-left: -8px;
        border-radius: 50%;
    }
    .calc_form .calc_item {
        @media all and (max-width: 1023px) {
            margin-bottom: 30px;
        }
    }
    .header__tel:hover {
        background: linear-gradient(90deg, #2EC54C 0%, #9AD135 100%);
        color: #fff;
    }
    .header__socs a:hover {
        background: #303633;
    }
    .header__tel:hover:before {
        background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.1 12.8584C16.6469 12.628 14.4767 11.4759 14.0712 11.2967C13.6658 11.1174 13.3796 11.0662 13.0696 11.5527C12.7596 12.0391 11.9249 13.0889 11.6625 13.4217C11.4002 13.7545 11.1617 13.7801 10.7086 13.4217C9.40709 12.861 8.2051 12.0642 7.15512 11.0662C6.20465 10.1055 5.39997 8.99112 4.77026 7.76346C4.50793 7.30261 4.77026 7.04658 4.96105 6.79055C5.15184 6.53452 5.39033 6.25289 5.62881 5.97126C5.80321 5.7277 5.94751 5.46092 6.05809 5.17757C6.11725 5.0458 6.14798 4.9014 6.14798 4.75512C6.14798 4.60884 6.11725 4.46445 6.05809 4.33268C6.05809 4.10225 5.05645 1.77239 4.67487 0.825087C4.29329 -0.122219 3.95941 0.00579507 3.69707 0.00579507H2.74313C2.2887 0.0248147 1.85985 0.236593 1.5507 0.594661C1.05168 1.10588 0.656416 1.72224 0.389667 2.40513C0.122919 3.08801 -0.00956 3.82268 0.000536622 4.5631C0.122522 6.38085 0.745107 8.11864 1.78918 9.55566C3.70511 12.6112 6.32631 15.0812 9.39689 16.7245C10.4462 17.2109 11.2571 17.4925 11.901 17.723C12.8052 18.0164 13.7609 18.0778 14.6913 17.9022C15.3092 17.7676 15.8948 17.4982 16.4117 17.1106C16.9286 16.723 17.3658 16.2256 17.6962 15.6491C17.9712 14.9372 18.0618 14.1588 17.9586 13.3961C17.8393 13.2169 17.5531 13.0888 17.1 12.8584Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
    }
    
    
    /** ========= FlexMenu ========= **/
    
    .navmenu li.flexMenu-viewMore > a {
        color: #fff;
    }
    .flexMenu-popup {
        background: #303633;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 5px !important;
    }
    .flexMenu-popup li a {
        color: #fff !important;
        display: block;
        text-decoration: none;
        padding: 5px 10px
    }
    .flexMenu-popup li a:hover {
        background: #1DA79F;
        color: #fff;
    }
    .stages_block__text span {
        white-space: nowrap;
    }
}