// fonts
@font-face {
  font-family: 'Futura PT';
  src: url('~assets/fonts/FuturaPT-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
// fonts end
body {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
  outline: none;
  font-family: 'Futura PT';
  scroll-behavior: smooth; 
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; 
}
.ovh {
  overflow: hidden; 
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: inherit; 
}

.content {
  flex: 1 0 auto; 
}

.footer {
  flex: 0 0 auto; 
}

.center_block {
  max-width: 1432px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px; 
}
img {
  max-width: 100%;
  height: auto; 
}

textarea {
  resize: none; 
}

*::-webkit-scrollbar {
  width: 5px; 
}

*::-webkit-scrollbar-track {
  background: #FFFFFF; 
}
*::-webkit-scrollbar-thumb {
  background: #3B9AE1; 
}
*::-webkit-scrollbar-thumb:hover {
  background: #3B9AE1; 
}