.bid_block {
    overflow: hidden;
    padding-top: vw(64);
    padding-bottom: vw(63);
    @media all and (max-width: 1023px) {
        padding-top: 34px;
        padding-bottom: 130px;
    }
    &__title {
        margin-bottom: vw(65);
        @media all and (max-width: 1023px) {
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 30px;
        }
    }
    .slick-list {
        margin-left: -8px;
        margin-right: -8px;
        overflow: unset;
        @media all and (max-width: 1023px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .slick-slide {
        margin-left: 8px;
        margin-right: 8px;
        @media all and (max-width: 1023px) {
            margin-left: 0;
            margin-right: 0;
            margin-right: 11px;
        }
    }
    &__block {
        display: flex !important;
        padding: vw(18);
        border-radius: 15px;
        background: #EFF1F2;
        @media all and (max-width: 1023px) {
            width: 267px;
            padding: 8px;
            flex-direction: column-reverse;
        }
    }
    &__l-side {
        width: 50%;
        padding-right: 5px;
        display: flex;
        flex-direction: column;
        @media all and (max-width: 1023px) {
            width: 100%;
            padding-right: 0;
            margin-top: 17px;
        }
    }
    &__tit {
        color: #303633;
        font-size: vw(16);
        margin-bottom: vw(15);
        font-weight: 500;
        line-height: 123%;
        @media all and (max-width: 1023px) {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }
    &__year {
        color: #303633;
        font-size: vw(12);
        line-height: 123%;
        margin-bottom: vw(11);
        @media all and (max-width: 1023px) {
            font-size: 12px;
            margin-bottom: 11px;
        }
    }
    &__price {
        margin-top: auto;
        color: #303633;
        font-size: vw(15);
        line-height: 123%;
        @media all and (max-width: 1023px) {
            font-size: 15px;
        }
    }
    &__r-side {
        width: 50%;
        font-size: 0;
        border-radius: 12px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media all and (max-width: 1023px) {
            width: 100%;
        }
    }
    .slick-prev {
        width: 76px;
        height: 40px;
        background: url("data:image/svg+xml,%3Csvg width='49' height='15' viewBox='0 0 49 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.637482 6.84367C0.24696 7.2342 0.24696 7.86736 0.637482 8.25789L7.00144 14.6218C7.39197 15.0124 8.02513 15.0124 8.41566 14.6218C8.80618 14.2313 8.80618 13.5982 8.41566 13.2076L2.7588 7.55078L8.41566 1.89393C8.80618 1.5034 8.80618 0.870238 8.41566 0.479713C8.02513 0.0891891 7.39197 0.0891891 7.00144 0.479713L0.637482 6.84367ZM48.4453 6.55078L1.34459 6.55078V8.55078L48.4453 8.55078V6.55078Z' fill='%23303633'/%3E%3C/svg%3E%0A") 50% no-repeat;
        top: -115px;
        right: 95px;
        left: unset;
        transform: unset;
        border: 1px solid #4EC275;
        border-radius: 9px;
        &:before {
            display: none;
        }
        &:hover {
            background: #4EC275 url("data:image/svg+xml,%3Csvg width='49' height='15' viewBox='0 0 49 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.637482 6.84367C0.24696 7.2342 0.24696 7.86736 0.637482 8.25789L7.00144 14.6218C7.39197 15.0124 8.02513 15.0124 8.41566 14.6218C8.80618 14.2313 8.80618 13.5982 8.41566 13.2076L2.7588 7.55078L8.41566 1.89393C8.80618 1.5034 8.80618 0.870238 8.41566 0.479713C8.02513 0.0891891 7.39197 0.0891891 7.00144 0.479713L0.637482 6.84367ZM48.4453 6.55078L1.34459 6.55078V8.55078L48.4453 8.55078V6.55078Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
        &.slick-disabled {
            pointer-events: none;
            opacity: .5;
        }
        @media all and (max-width: 1023px) {
            top: unset;
            bottom: -70px;
            left: 20px;
            right: unset;
            width: 55px;
            height: 30px;
            background-size: 34px !important;
        }
    }
    .slick-next {
        width: 76px;
        height: 40px;
        background: url("data:image/svg+xml,%3Csvg width='49' height='15' viewBox='0 0 49 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.637482 6.84367C0.24696 7.2342 0.24696 7.86736 0.637482 8.25789L7.00144 14.6218C7.39197 15.0124 8.02513 15.0124 8.41566 14.6218C8.80618 14.2313 8.80618 13.5982 8.41566 13.2076L2.7588 7.55078L8.41566 1.89393C8.80618 1.5034 8.80618 0.870238 8.41566 0.479713C8.02513 0.0891891 7.39197 0.0891891 7.00144 0.479713L0.637482 6.84367ZM48.4453 6.55078L1.34459 6.55078V8.55078L48.4453 8.55078V6.55078Z' fill='%23303633'/%3E%3C/svg%3E%0A") 50% no-repeat;
        top: -115px;
        right: 0px;
        border: 1px solid #4EC275;
        border-radius: 9px;
        left: unset;
        transform: rotate(180deg);
        &:before {
            display: none;
        }
        &:hover {
            background: #4EC275 url("data:image/svg+xml,%3Csvg width='49' height='15' viewBox='0 0 49 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.637482 6.84367C0.24696 7.2342 0.24696 7.86736 0.637482 8.25789L7.00144 14.6218C7.39197 15.0124 8.02513 15.0124 8.41566 14.6218C8.80618 14.2313 8.80618 13.5982 8.41566 13.2076L2.7588 7.55078L8.41566 1.89393C8.80618 1.5034 8.80618 0.870238 8.41566 0.479713C8.02513 0.0891891 7.39197 0.0891891 7.00144 0.479713L0.637482 6.84367ZM48.4453 6.55078L1.34459 6.55078V8.55078L48.4453 8.55078V6.55078Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;
        }
        &.slick-disabled {
            pointer-events: none;
            opacity: .5;
        }
        @media all and (max-width: 1023px) {
            top: unset;
            bottom: -70px;
            left: 86px;
            right: unset;
            width: 55px;
            height: 30px;
            background-size: 34px !important;
        }
    }
}