.footer {
    background: $secondary-color;
    margin-top: 50px;
    @media all and (max-width: 1023px) {
        margin-top: 28px;
        padding-left: 15px;
        padding-right: 15px;
    }
    &__in {
        padding-top: 60px;
        padding-bottom: 60px;
        @media all and (max-width: 1023px) {
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }
    &__text {
        p {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        color: rgba(255, 255, 255, 0.70);
        font-size: 16px;
        line-height: 136%;
        margin-bottom: 50px;
        @media all and (max-width: 1023px) {
            font-size: 10px;
        }
    }
    &__item {
        display: flex;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__main {
        max-width: 320px;
        width: 100%;
        margin-right: 10px;
    }
    &__logo {
        font-size: 0;
        margin-bottom: 24px;
        max-width: 245px;
        width: 100%;
        @media all and (max-width: 1023px) {
            max-width: 125px;
            width: 100%;
            margin-bottom: 35px;
        }
    }
    &__title {
        color: rgba(255, 255, 255, 0.40);
        font-size: 12px;
        line-height: 136%;
        @media all and (max-width: 1023px) {
            font-size: 10px;
            display: none;
        }
        &.mob {
            display: none;
            margin-top: 20px;
            @media all and (max-width: 1023px) {
                display: block;
            }
        }
    }
    &__menu {
        margin-right: 70px;
        margin-left: auto;
        @media all and (max-width: 1023px) {
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 42px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                &:not(:last-child) {
                    margin-bottom: 10px;
                    @media all and (max-width: 1023px) {
                        margin-bottom: 7px;
                    }
                }
                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.70);
                    line-height: 150%;
                    &:hover {
                        text-decoration: underline;
                    }
                    @media all and (max-width: 1023px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    &__info {
        display: flex;
        align-items: center;
    }
    &__socs {
        display: flex;
        align-items: center;
        @media all and (max-width: 1023px) {
            display: none;
        }
        &.mob {
            display: none;
            @media all and (max-width: 1023px) {
                display: flex;
                margin-bottom: 23px;
            }
        }
        a {
            text-decoration: none;
            font-size: 0;
            border-radius: 50%;
            margin-right: 15px;
            display: inline-block;
            width: 52px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #D9D9D9;
            @media all and (max-width: 1023px) {
                width: 42px;
                height: 42px;
            }
            svg {
                @media all and (max-width: 1023px) {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    &__tel {
        position: relative;
        border-radius: 26px;
        border: 1px solid #D9D9D9;
        text-decoration: none;
        color: #FFF;
        white-space: nowrap;
        flex: 0 0 185px;
        font-size: 16px;
        line-height: 32px;
        margin-right: 15px;
        padding: 10px 15px 10px 42px;
        @media all and (max-width: 1023px) {
            font-size: 10px;
            padding: 0px 15px 0px 29px;
            flex: none;
            margin-right: 10px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 15px;
            width: 18px;
            height: 18px;
            margin-top: -9px;
            background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.1 12.8584C16.6469 12.628 14.4767 11.4759 14.0712 11.2967C13.6658 11.1174 13.3796 11.0662 13.0696 11.5527C12.7596 12.0391 11.9249 13.0889 11.6625 13.4217C11.4002 13.7545 11.1617 13.7801 10.7086 13.4217C9.40709 12.861 8.2051 12.0642 7.15512 11.0662C6.20465 10.1055 5.39997 8.99112 4.77026 7.76346C4.50793 7.30261 4.77026 7.04658 4.96105 6.79055C5.15184 6.53452 5.39033 6.25289 5.62881 5.97126C5.80321 5.7277 5.94751 5.46092 6.05809 5.17757C6.11725 5.0458 6.14798 4.9014 6.14798 4.75512C6.14798 4.60884 6.11725 4.46445 6.05809 4.33268C6.05809 4.10225 5.05645 1.77239 4.67487 0.825087C4.29329 -0.122219 3.95941 0.00579507 3.69707 0.00579507H2.74313C2.2887 0.0248147 1.85985 0.236593 1.5507 0.594661C1.05168 1.10588 0.656416 1.72224 0.389667 2.40513C0.122919 3.08801 -0.00956 3.82268 0.000536622 4.5631C0.122522 6.38085 0.745107 8.11864 1.78918 9.55566C3.70511 12.6112 6.32631 15.0812 9.39689 16.7245C10.4462 17.2109 11.2571 17.4925 11.901 17.723C12.8052 18.0164 13.7609 18.0778 14.6913 17.9022C15.3092 17.7676 15.8948 17.4982 16.4117 17.1106C16.9286 16.723 17.3658 16.2256 17.6962 15.6491C17.9712 14.9372 18.0618 14.1588 17.9586 13.3961C17.8393 13.2169 17.5531 13.0888 17.1 12.8584Z' fill='%234EC275'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
            @media all and (max-width: 1023px) {
                width: 11px;
                margin-top: -5.5px;
                height: 11px;
            }
        }
    }
    &__btn {
        color: #FFF;
        font-size: 16px;
        border: 0;
        line-height: 32px;
        cursor: pointer;
        border-radius: 36px;
        background: $primary-color;
        padding: 9px 47px;
        text-align: center;
        white-space: nowrap;
        @media all and (max-width: 1023px) {
            max-width: 162px;
            width: 100%;
            padding: 0 13px;
            font-size: 10px;
        }
        @media all and (max-width: 420px) {
            padding: 0 8px;
            font-size: 9px;
        }
    }
}